.blog-main {
  width: 100%;
}

.blog-header-section {
  margin: 150px 5%;
}

.blog-heading-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog-heading-div > * {
  flex: 1;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.blog-heading-text-div {
  text-align: center;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.blog-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: 'Google Sans Medium';
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.blog-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Google Sans Medium';
}

.blog-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

@media (max-width: 1380px) {
  .blog-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .blog-header-section {
    margin: 60px 5%;
  }
  
  .blog-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .blog-heading-div {
    flex-direction: column;
  }

  .blog-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: normal;
    text-align: center;
  }

  .blog-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
}
